@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Kumbh+Sans:wght@400;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --transparent: transparent;
  --fira-sans: "Fira Sans", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --source-sans-pro: "Source Sans Pro", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --summer-sky: #39d188;
  --freshair: #ffffff;
  --oxford-blue: #818285;
  --mercury: #e5e5e5;
  --bronze-olive: #2caae2;
  --light-grey: #f4f5f8;
  --seprater-color: #39d188;
  --night-rider: #2c2c2c;
  --eerie-black: #212121;
  --suva-grey: #909090;
  --light-grey-blue: #f4f5f9;
  --dodger-blue: #192c57;
  --light-green: #f2fbfe;
  --orange: #fcbf02;
  --privacy: #5d5e61;
}
 .section{
  position: relative;
}
.container-banner{
  position: relative;
}
/* banner */
.banner-container{
 position: relative;

}
.banner-section-1 {
  position: relative;

  background-color: #11574A;


}
/* .img-container{
  position: relative;
} */
.hero-split-banner {
  max-width: 95%;
  padding-top: 9rem !important;
  margin-inline: 180px;
  /* margin: auto; */
}
.heading-banner {

  color: #fff;
  letter-spacing: 0.5px;
  font-family: 'Readex Pro';
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  
}
.text-span {
  color: var(--seprater-color);
  font-weight: 700;
}
.subheading-banner {

  margin-bottom: 0;
  padding-top: 16px;
  padding-left: 0;
  color: #FFFFFF;
  font-family: 'Readex Pro';
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.qualify-btn {
  color: #11574A;
  letter-spacing: 0;
  text-transform: none;
  background-color: #FFFFFF;
  padding: 0px 25px;
  font-family: 'Readex Pro';
  font-size: 17px;
  font-weight: 700;
  line-height: 43px;
  transition: all 0.2s;
  border: none;
  margin-top: 37px;
  margin-bottom: 120px;
  border-radius: 15px;
}

.banner-img{
  width: 90%;
}
.img-div-banner{
  height: 500px;
  position: absolute;
  object-fit: cover;
  bottom: 90px;
  right: 60px;
  z-index: 1;
}

.divider {
  height: 8px;
  background-color: var(--bronze-olive);
}

/* .footer {
  background-color: #FEDDAA;
  position: absolute;
  height: auto;
  padding: 10px 0px;
  width: 100%;

bottom: 0;
} */



.footer-banner {
  background-color: #FEDDAA;
  position: absolute;
  height: auto;
  padding: 10px 100px;
  width: 100%;
  bottom: 0;
  font-size: 18px; /* You can adjust the font size as needed */
  text-align: left;
}


.icon-text-banner{
color: #FFFFFF;
font-size: 24px;

}
.icon-text i{
  color: blue;
  height: 20px;
}
.date-div-banner{
  color:#FFFFFF;
  font-family: "Readex Pro";
font-size: 20px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
position: absolute;
top:50px;
    padding-right: 280px;
}

.social-icon {
  position: absolute;
  bottom: 50px;
  right: 40px;
  display: flex;
  flex-direction: column; /* Display icons vertically in a column */
}

/* Style the avatar container */
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Adjust the avatar width as needed */
  height: 50px; /* Adjust the avatar height as needed */
  border-radius: 50%; /* Create a circular avatar */
  margin-bottom: 30px; /* Adjust the vertical spacing as needed */
  background-color: lightblue; /* Background color for the avatar */
}

/* Style the icon within the avatar */
.avatar i {
  color: white; /* Icon color */
  font-size: 24px; /* Icon size */
}
.typewriter {
  font-family: Arial, sans-serif;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: none; /* Blinking cursor effect */
  animation: typing 10s steps(40) 1s infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #11574A; /* Blinking cursor color */
  }
}


@media screen and (max-width: 991px) {
   .img-container {
  display: none;

  }

.row{
  --bs-gutter-x: 0 !important;
}
  .hero-split-banner {
    max-width: 95%;
    padding-top: 9rem !important;
    margin-inline: 18px;
    /* margin: auto; */
  }
  .footer {
    background-color: #FEDDAA;
    position: absolute;
    height: auto;
    padding: 10px 0px;
    width: 100%;
    bottom: 0;
    font-size: 18px; /* You can adjust the font size as needed */
    text-align: left;
  }
  

  .typewriter {
    font-family: Arial, sans-serif;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: none ;/* Blinking cursor effect */
    animation: typing 10s steps(40) 1s infinite, blink-caret 1s step-end infinite;
  }
  .footer-banner {
    background-color: #FEDDAA;
    position: absolute;
    height: auto;
    padding: 10px 10px;
    width: 100%;
    bottom: 0;
    font-size: 18px; /* You can adjust the font size as needed */
    text-align: left;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color:   #11574A; /* Blinking cursor color */
    }
  }
  
}